body,
html {
  padding: 0;
  margin: 0; }

main {
  background-color: #f58c8c;
  height: 100vh; }

.intro {
  background-color: #7c9fff;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 10%;
  transform: translate(10%, none);
  -webkit-transform: translate(10%, none);
  -moz-transform: translate(10%, none);
  -ms-transform: translate(10%, none);
  -o-transform: translate(10%, none); }

.intro-head {
  padding-top: 50px;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 5px solid black; }

.choice {
  padding: 50px;
  font-family: 'Courier New', Courier, monospace; }

.p1-p2 {
  margin-top: 50px;
  cursor: pointer;
  animation-delay: 1s; }

.p1-pc {
  cursor: pointer;
  animation-delay: 0.7s; }

.p1-p2:hover {
  color: red; }

.p1-pc:hover {
  color: red; }

.for-how-much {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  -webkit-transform: translate(-50%, -20%);
  -moz-transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  -o-transform: translate(-50%, -20%);
  font-size: 2em;
  padding: 10px;
  background-color: #7c9fff;
  border: 3px solid black;
  color: black;
  display: none; }

.for-how-much h1 {
  margin: 0; }

.ready {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 5em;
  color: white;
  display: none; }

.ready h1 {
  margin: 0; }

.next-lvl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 50%;
  height: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.733);
  font-size: 1.3em;
  font-family: 'Courier New', Courier, monospace;
  display: none; }

.next-lvl h1 {
  position: relative;
  top: 45%;
  transform: translate(-45%, none);
  -webkit-transform: translate(-45%, none);
  -moz-transform: translate(-45%, none);
  -ms-transform: translate(-45%, none);
  -o-transform: translate(-45%, none);
  margin: 0; }

.p1vsp2-score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 50%;
  height: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.733);
  font-size: 1.3em;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
  display: none; }

.p1vsp2-score-center {
  position: relative;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; }

.game-screen {
  display: flex;
  text-align: center;
  height: 100vh;
  font-size: 3em;
  display: none; }

.p1 {
  border-right: 3px solid black;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

.pc-p2 {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

.p1 h1 {
  align-self: center; }

.pc-p2 h1 {
  align-self: center; }

.again {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);
  -webkit-transform: translate(-50%, -20%);
  -moz-transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  -o-transform: translate(-50%, -20%);
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 20px 10px 20px;
  background-color: #7c9fff;
  border: 3px solid black;
  color: black;
  cursor: pointer;
  display: none; }

.again h1 {
  margin: 0; }

.again:hover {
  background-color: red;
  color: white; }

@media (max-width: 768px) {
  body {
    font-size: 0.8em; } }
